body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
}

h1 {
  padding: 10px;
  background-color: aquamarine;
  border-radius: 10px;
}

.border {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.block {
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  font-size: 60px;
  box-sizing: border-box;
  border: 2px solid black;
}

.pointed {
  all: unset;
}
